<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.example.springboard.Mapper.BoardMapper">
    <insert id="insertBoard" parameterType="com.example.springboard.DTO.Board">
        INSERT INTO board (
            b_title,
            b_content,
            id
        ) VALUES (
                     #{b_title},
                     #{b_content},
                     #{id}
                 )
    </insert>

    <select id="findAllBoard" parameterType="com.example.springboard.DTO.Board">
        SELECT a.*, b.u_name from board a join user b on a.id = b.u_id order by b_id desc
    </select>

    <select id="findBoardById" parameterType="com.example.springboard.DTO.Board">
        SELECT a.*, b.u_name from board a join user b on a.id = b.u_id where b_id = #{b_id}
    </select>

    <delete id="deleteBoard" parameterType="com.example.springboard.DTO.Board">
        DELETE FROM board where b_id = #{b_id}
    </delete>

    <update id="updateBoard" parameterType="com.example.springboard.DTO.Board">
        update board set b_title = #{b_title} , b_content = #{b_content} where b_id = #{b_id}
    </update>

    <select id="countBoard" parameterType="int">
        select COUNT(*) from board;
    </select>

    <select id="selectBoard" parameterType="com.example.springboard.DTO.Board">
        SELECT a.*, b.u_name FROM board a join user b on a.id = b.u_id
            ORDER BY b_id DESC
            LIMIT #{start}, #{cntPerPage}
    </select>

    <update id="plusviewCount" parameterType="int">
        UPDATE board SET b_view = b_view + 1 where b_id = #{b_id}
    </update>

</mapper>